{% load staticfiles vv_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>{% block title %}Home{% endblock %}{% block title-page %}{% endblock title-page %}</title>
    <!-- site -->
    {% include "head.html" %}
    {% block extra_head %}{% endblock %}
</head>

<body>
<div id="app">
	<div id="site_header">
		{% include "header.html" %}
	</div>
	<div class="container-fluid">
		<div class="row">
			<div clas="col-xs-12">
	  			<div id="navbar">
	  				{% include "navbar.html" %}
	  			</div>
	  		</div>
		</div>
	</div>
	<div id="popup_menu" class="row" style="display:none">
		<div class="col-xs-12 text-center">
			{% include "popup_menu.html" %}
		</div>
	</div>
	<div id="content" class="container" v-html="content">
		{% block content %}{% endblock %}
	</div>
	<div id="footer" class="container-fluid">
		{% include "footer.html" %}
	</div>
	<script type="text/javascript">
		{% block vues %}{% endblock %}
	</script>
</div>
{% if "instant"|is_installed %}
	{% include "instant/client.html" %}
{% endif %}
</body>
</html>