{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>{% block title %}Home{% endblock %}{% block title-page %}{% endblock title-page %}</title>
    <!-- site -->
    {% include "head.html" %}
    {% block extra_head %}{% endblock %}
</head>

<body>
	<div id="site_header">
		{% include "header.html" %}
	</div>
	<div class="container-fluid hide_for_fullscreen">
		<div class="row">
			<div clas="col-xs-12">
	  			<div id="navbar">
	  				{% include "navbar.html" %}
	  				<span class="pull-right" style="margin:0.8em 1.5em 0 1em">
	  					{% block editbtn %}{% endblock %}
	  				</span>
	  				<span class="hidden-sm hidden-xs">{% block breadcrumbs %}{% endblock %}</span>
	  			</div>
	  		</div>
		</div>
	</div>
	<div id="popup_menu" class="row" style="display:none">
		<div class="col-xs-12 text-center">
			{% include "popup_menu.html" %}
		</div>
	</div>
	<div id="precontent" class="{% block container_precontent_type %}gf text-center{% endblock %}">
		{% block precontent %}{% endblock %}
	</div>
	<div id="content" class="{% block container_type %}container{% endblock %}">
		{% block messages %}
			{% include 'messages_display.html' %}
		{% endblock %}
		{% block content %}{% endblock %}
	</div>
	<div id="footer" class="container-fluid">
		{% include "footer.html" %}
	</div>
</body>
</html>