{% load mbase %}
<script type="text/javascript">
	{% if request.path|in_admin %}
		window.setTimeout(function() { django.jQuery(".messagelist .success").fadeOut('slow'); }, 2500);
		window.setTimeout(function() { django.jQuery(".messagelist .info").fadeOut('slow'); }, 4000);
	{% else %}
		window.setTimeout(function() { $(".alert-success").fadeOut('slow'); }, 2500);
		window.setTimeout(function() { $(".alert-info").fadeOut('slow'); }, 4000);
	{% endif %}
</script>
{% include "instant/client.html" %}