{% load staticfiles mbase compress %}

<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% compress js %}
	{% if not request.path|in_admin %}
		<script type="text/javascript" src="{% static 'js/turbolinks.js' %}"></script>
	{% endif %}
{% endcompress %}
{% compress css %}
	{% if not request.path|in_admin %}
	<link rel="stylesheet" media="screen, projection" href="{% static 'css/picnic.min.css' %}" />
	{% endif %}
	<link rel="stylesheet" media="screen, projection" href="{% static 'css/screen.css' %}" />
	<link rel="stylesheet" media="screen, projection" href="{% static 'css/mbase.css' %}" />
	{% block extra_css %}{% endblock %}
{% endcompress %}