{% load staticfiles mbase compress vv_tags %}

<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% compress js %}
	{% if not request.path|in_admin %}
		<script type="text/javascript" src="{% static 'main/js/main.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/axios.min.js' %}"></script>
	{% endif %}
{% endcompress %}
{% compress css %}
	{% if not request.path|in_admin %}
		<link rel="stylesheet" media="screen, projection" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
		<link rel="stylesheet" media="screen, projection" href="{% static 'font-awesome/css/font-awesome.min.css' %}" />
	{% endif %}
	<link rel="stylesheet" media="screen, projection" href="{% static 'main/css/main.min.css' %}" />
	{% if "vvcatalog"|is_installed %}
		<link rel="stylesheet" media="screen, projection" href="{% static 'vvcatalog/css/screen.css' %}" />
	{% endif %}
	{% if "vvinstant"|is_installed %}
		<link rel="stylesheet" media="screen, projection" href="{% static 'css/togglebtn.css' %}" />
	{% endif %}
	{% block extra_css %}{% endblock %}
{% endcompress %}