{% load staticfiles mbase %}

<div class="container-fluid">
	<div class="columns">
		<div class="column">
			<nav class="navbar" role="navigation" aria-label="main navigation">
				<div class="navbar-brand">
					<div class="navbar-item title is-hidden-touch">
						<a href="/">Mogo</a>	
					</div>
					<div class="navbar-item is-hidden-desktop">
						<a href="/">Mogo</a>	
					</div>
					<button class="button navbar-burger">
						<span></span><span></span><span></span>
					</button>
				</div>
				<div class="navbar-menu">
					<div class="navbar-end">
						{% include "topbar.html" %}
					</div>
				</div>
			</nav>
		</div>
	</div>
</div>