{% load staticfiles mbase compress bootstrap_themes %}

<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% compress js %}
	{% if not request.path|in_admin %}
		<script type="text/javascript" src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
		{% bootstrap_script use_min=True %}
		<script type="text/javascript" src="{% static 'js/utils.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/turbolinks.js' %}"></script>
		<script src="{% static 'leaflet/js/leaflet.js' %}"></script> 
	{% endif %}
{% endcompress %}
{% compress css %}
	<link rel="stylesheet" media="screen, projection" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
	{% bootstrap_styles theme='flatly' type='min.css' %}
	<link rel="stylesheet" media="screen, projection" href="{% static 'css/screen.css' %}" />
	<link rel="stylesheet" media="screen, projection" href="{% static 'css/mbase.css' %}" />
	<link rel="stylesheet" href="{% static 'leaflet/css/leaflet.css' %}" />	
	{% block extra_css %}{% endblock %}
{% endcompress %}