{% load i18n vv_tags %}
<div v-show="pageContent">
	{% if perms.vvpages.change_page %}
		<div class="pull-right" style="margin-top:0.7em">
			<a v-bind:href="adminPageUrl">
				<i class="fa fa-edit"></i>&nbsp;{% trans 'Edit' %}
			</a>
		</div>
	{% endif %}
</div>
<ul class="list-inline gi">
	{% if user.is_staff %}
	<li>
		<a class="btn btn-link{% if request.path|slice:'6' == '/admin' %} active{% endif %}" href="/admin/">Admin</a>
	</li>
	{% endif %}
	{% if "vvpages"|is_installed %}
		{% include "vvpages/auto/navlinks.html" %}
		<li>
			<a class="btn btn-link" href="/map/">Sitemap</a>
		</li>
	{% endif %}
	{% if "vvcontact"|is_installed %}
	<li>
		<a class="btn btn-link" href="/contact/">Contact</a>
	</li>
	{% endif %}
	{% if "vvcatalog"|is_installed %}
	<li>
		<a class="btn btn-link" href="{% url 'category-index' %}">Catalog</a>
	</li>
	{% endif %}
</ul>
{% if "instant"|is_installed and user.is_superuser %}
	<div class="pull-right" style="margin-top:0.7em;">
		{% include "vvinstant/btn.html" %}
	</div>
{% endif %}
