{% load i18n %}

<div class="gp text-center">
	{% if user.is_anonymous %}
		<div class="blocknav gbf" style="background-color:white;">
			<a href="/account/login/">
				<i class="fa fa-user" style="font-size:400%;padding:0.5em;"></i><br />
				{% trans 'Login or register' %}
			</a>
		</div>
	{% else %}
		<div class="blocknav gbf" style="background-color:white;">
			<a href="/account/logout/">
				<i class="fa fa-sign-out" style="font-size:400%;padding:0.5em;"></i><br />
				{% trans 'Logout' %}
			</a>
		</div>
	{% endif %}
	</a>
</div>