{% load i18n %}
	{% with request.path|slice:":6" as path %}
	{% if user.is_staff %}
		{% if path != '/admin' %} 
			<a href="/admin/" class="navbar-item" title="Admin">
				<span class="icon">
					<i class="fa fa-cogs fa-2x"></i>
				</span>
			</a>
		{% endif %}
	{% endif %}
	{% if user.is_anonymous %}
	<a href="/account/login/" class="navbar-item" title="{% trans 'Login' %}">
		<span class="icon">
			<i class="fa fa-user fa-2x"></i>
		</span>
	</a>
	{% else %}
	<a href="/account/logout/" class="navbar-item" title="{% trans 'Logout' %}">
		<span class="icon">
			<i class="fa fa-sign-out fa-2x"></i>
		</span>
	</a>
	{% endif %}
{% endwith %}

