{% load i18n fb_tags %}
<div id="changelist-filter">
    <h2>{% trans 'Filter' %}</h2>
    <style>
    	.active a, .active a:visited {
    		color:white;
    	}
    </style>
    <h3>{% trans "By Date" %}</h3>
    <ul class="list-group">
        <li class="list-group-item {% if not query.filter_date %}active{% endif %}">
        <a href="{% query_string "" "filter_date,p" %}">{% trans "Any Date" %}</a></li>
        <li class="list-group-item {% if query.filter_date == "today" %}active{% endif %}">
        <a href="{% query_string "" "filter_date,p" %}&amp;filter_date=today">{% trans "Today" %}</a></li>
        <li class="list-group-item {% if query.filter_date == "past7days" %}active{% endif %}">
        <a href="{% query_string "" "filter_date,p" %}&amp;filter_date=past7days">{% trans "Past 7 days" %}</a></li>
        <li class="list-group-item {% if query.filter_date == "thismonth" %}active{% endif %}">
        <a href="{% query_string "" "filter_date,p" %}&amp;filter_date=thismonth">{% trans "This Month" %}</a></li>
        <li class="list-group-item {% if query.filter_date == "thisyear" %}active{% endif %}">
        <a href="{% query_string "" "filter_date,p" %}&amp;filter_date=thisyear">{% trans "This year" %}</a></li>
    </ul>
	
	<h3>{% trans "By Type" %}</h3>
    <ul class="list-group">
        <li class="list-group-item {% if not query.filter_type %}active{% endif %}">
        <a href="{% query_string "" "filter_type,p" %}">{% trans "All" %}</a></li>
        <li class="list-group-item {% if query.filter_type == 'Folder' %}active{% endif %}">
        <a href="{% query_string "" "filter_type,p" %}&amp;filter_type=Folder">{% trans "Folder" %}</a></li>
        {% for extension in settings_var.EXTENSIONS %}
        <li class="list-group-item {% if query.filter_type == extension %}active{% endif %}">
        <a href="{% query_string "" "filter_type,p" %}&amp;filter_type={{ extension }}">{% trans extension %}</a></li>
        {% endfor %}
    </ul>
</div>
