{% extends "base.html" %}

{% load i18n %}

{% block layout_top %}
	{% include "alapage/layouts/smooth-md/top.html" %}
{% endblock %}

{% block content %}

<h1>Mon compte</h1>

<ul class="nav nav-tabs">
  <li class="{% block account_nav_email %}{% endblock %}">
    <a href="{% url 'account_email' %}">{% trans 'E-mail Addresses' %}</a>
  </li>
  <li class="{% block account_nav_change_password %}{% endblock %}">
    <a href="{% url 'account_change_password' %}">{% trans 'Change Password' %}</a>
  </li>
  {% url 'socialaccount_connections' as connections_url %}
  {% if connections_url %}
  <li class="{% block account_nav_socialaccount_connections %}{% endblock %}">
    <a href="{{ connections_url }}">Comptes sociaux associés</a>
  </li>
  {% endif %}
</ul>
{% block account_content %}
{% endblock %}

{% endblock %}

{% block layout_bottom %}
	{% include "alapage/layouts/bottom.html" %}
{% endblock %}