h1 {
	font-weight:normal;
}
#site_header {
	height:auto !important;
	padding:0 !important;
}
#site_header h2 {
	font-familly:Tahoma;
	display:inline;
	font-size:180%;
	position:relative;
	top:9px;
	left:-10px;
	font-weight:normal;
}
#admin_topbar > a {
	position:relative;
	top:10px;
	margin:0;
}
#admin_topbar > a:not(:first-child) {
	padding-left:0.8em;
}
#admin_title {
	position:relative;
	top:-16px;
	left:80px;
}
#admin_title a, #admin_title a:visited {
	color:white;
	font-size:180%;
}
.object-tools a:link, .object-tools a:visited {
	margin:0 !important;
	position:relative;
	top:8px;
}
a.collapse-toggle, a.collapse-toggle:visited {
	color:lightgrey !important;
}
caption a, caption a:hover, .breadcrumbs a, a[class=deletelink], .object-tools li a, .object-tools li a:hover, 
fieldset > h2 {
	color:white !important;
}
input[name=_save], caption, .breadcrumbs, #changelist-filter h2, .object-tools li a:hover, 
input[name=_addanother]:hover, input[name=_continue]:hover, fieldset > h2  {
	background-color:grey !important;
}
input[name=_addanother], .object-tools li a {
	background-color:darkgrey;
	background:darkgrey;
	color:black;
}
input[name=_continue] {
	background-color:steelblue;
	background:steelblue;
}
.dashboard #content {
	width: 100%;
}
#last_actions {
	width: 20%;
	float:right;
}
#content-main td {
	padding:0.5em;
}
#content-main h3 {
	background-color:steelblue;
	padding:0.3em 0 0.3em 0.5em;
	border-radius:5px;
	font-size:120%;
}
#content-main h3 a, #content-main h3 a:visited, #changelist-filter h3 {
	color:white !important;
}
#content-main table {
	position:relative;
	top:-1em;
}
#content-main td {
	border:0 !important;
}
