/* ##################################### Base tags ##################################### */
body  {
	background-color:#fff;
    margin: 0;
    padding: 0; 
}
a, a:hover, a:visited {
	text-decoration:none !important;
}
a:not(.btn), a:visited:not(.btn) {
	color:darkslategrey;
}
a:hover:not(.btn) {
	color:grey;
}
h1, h2, h3, h4, h5 {
	color:darkslategrey;
}
img {
	vertical-align:middle;
}
div {
	box-sizing: border-box;
	vertical-align:top;
}
/* ##################################### Icons ##################################### */
.i-code {
  display: none;
}
@font-face {
	  font-family: 'fontello';
	  src: url('/static/icon/font/fontello.eot?61793101');
	  src: url('/static/icon/font/fontello.eot?61793101#iefix') format('embedded-opentype'),
		   url('/static/icon/font/fontello.woff?61793101') format('woff'),
		   url('/static/icon/font/fontello.ttf?61793101') format('truetype'),
		   url('/static/icon/font/fontello.svg?61793101#fontello') format('svg');
	  font-weight: normal;
	  font-style: normal;
	}
.demo-icon {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  /* opacity: .8; */
}
/* ##################################### Skeleton ##################################### */
#site_header {
	min-height:75px;
	background-color:steelblue;
}
#topbar {
	position:absolute;
	top:0.5em;
	right:1em;
}
#site_header a, #site_header a:visited, #navbar a, #navbar a:visited {
	color:white !important;
	padding-right:0.8em;
}
#topbar a:hover {
	color:grey !important;
}

#navbar .list-inline a:hover, #navbar .list-inline a.active {
	color:darkslategrey !important;
	background-color:white;
}
#navbar {
	background-color:grey;
	padding:0em 0em 0em 2em;
	height:2.9em;
	line-height:2.9em;
}
#navbar .btn {
	padding:0.9em 0.4em 0.9em 0.4em;
	vertical-align:baseline;
}
#content {
	min-height:40em;
	padding:0.5em 1em 4em 1em;
}
#footer {
	min-height:50px;
	background-color:steelblue;
}
