/* ##################################### Base tags ##################################### */
body  {
	background-color:#fff;
    margin: 0;
    padding: 0; 
}
a, a:hover, a:visited {
	text-decoration:none !important;
}
a {
	color:black;
}
a:hover {
	color:grey;
}
h1, h2, h3, h4, h5 {
	color:darkslategrey;
}
img {
	vertical-align:middle;
}
div {
	box-sizing: border-box;
	vertical-align:top;
}
/* ##################################### Skeleton ##################################### */
.navbar {
	background-color:steelblue;
}
.navbar .title {
	margin-bottom:0
}
.navbar-burger {
	color:white;
	background-color:transparent;
	border:0;
}
.navbar-burger span {
	font-weight:bolder;
	font-size:180%;
}
.navbar a, .navbar a:visited, #navbar a, #navbar a:visited {
	color:white !important;
	padding-right:0.8em;
}
#navbar .list-inline a:hover, #navbar .list-inline a.active {
	color:darkslategrey !important;
	background-color:white;
}
#navbar {
	background-color:grey;
	padding:0em 0em 0em 2em;
	height:2.9em;
	line-height:2.9em;
}
#navbar .btn {
	padding:0.9em 0.4em 0.9em 0.4em;
	vertical-align:baseline;
}
#content {
	min-height:40em;
}
#footer {
	min-height:50px;
	background-color:steelblue;
	color:white;
}
