/* ##################################### Base tags ##################################### */
body  {
	background-color:#FFFFFF;
    margin: 0;
    padding: 0; 
}
a, a:hover, a:visited {
	text-decoration:none !important;
}
a:not(.btn), a:visited:not(.btn) {
	color:darkslategrey;
}
a:hover:not(.btn) {
	color:grey;
}
h1, h2, h3, h4, h5 {
	color:darkslategrey;
}
img {
	vertical-align:middle;
}
div {
	box-sizing: border-box;
	vertical-align:top;
}
/* ##################################### Skeleton ##################################### */
#site_header {
	min-height:50px;
	background-color:steelblue;
	min-height:75px;
}
#topbar {
	position:absolute;
	top:1.4em;
	right:1em;
}
#site_header a, #site_header a:visited, #navbar a, #navbar a:visited {
	color:white !important;
	padding-right:0.8em;
}
#topbar a:hover {
	color:grey !important;
}
#navbar .list-inline a:hover, #navbar .list-inline a.active {
	color:darkslategrey !important;
	background-color:white;
}
#navbar {
	background-color:grey;
	padding:0 0 0 6em;
	min-height:2.9em;
}
#navbar .btn {
	height:2.9em !important;
	min-height:2.9em !important;
	padding-top:0.6em;
	vertical-align:baseline;
}
#content {
	min-height:40em;
	padding-bottom:4em;
}
#footer {
	min-height:50px;
	background-color:steelblue;
}
/* ##################################### Zinnia ##################################### */
.entry-content {
	font-size:15px !important;
}
ul {
	margin-bottom:0px !important;
}
ul.breadcrumb, ul.breadcrumb li, .breadcrumb a, .breadcrumb a:visited {
	display:inline-block;
	color:white !important;
	margin-bottom:0px !important;
	background-color:transparent;
}

