/* ##################################### Base tags ##################################### */
body  {
	background-color:#FFFFFF;
    margin: 0;
    padding: 0;
    
}
a, a:hover, a:visited {
	text-decoration:none;
}
img {
	vertical-align:middle;
}
div {
	box-sizing: border-box;
	vertical-align:top;
}
/* ##################################### Skeleton ##################################### */
#site_header {
	min-height:50px;
	background-color:darkslategray;
}
#content {
	min-height:40em;
	padding-bottom:4em;
}
#footer {
	min-height:50px;
	background-color:darkslategray;
}
.entry-content {
	font-size:15px !important;
}

