/* ################################## Generic classes ################################# */
.gf {
	width:100%;
}
.gi {
	display:inline-block;
}
.gp {
	padding:1em;
}
.gb {
	font-weight:bold;
}
.gds {
	margin-bottom:1em;
}
.gds-md {
	margin-bottom:2em;
}
.gds-l {
	margin-bottom:3em;
}
.gds-xl {
	margin-bottom:4em;
}
.gus {
	margin-top:1em;
}
.gus-md {
	margin-top:2em;
}
.gus-l {
	margin-top:3em;
}
.gus-xl {
	margin-top:4em;
}
.gls {
	margin-left:1em;
}
.gls-md {
	margin-left:2em;
}
.gls-l {
	margin-left:3em;
}
.gls-xl {
	margin-left:4em;
}
.grs {
	margin-right:1em;
}
.grs-md {
	margin-right:2em;
}
.grs-l {
	margin-right:3em;
}
.grs-xl {
	margin-right:4em;
}
.gtv {
	vertical-align:top;
}
.gmv {
	vertical-align:middle;
}
.gbf {
	font-size:120%;
}
.gbf-md {
	font-size:160%;
}
.gbf-l {
	font-size:200%;
}
.gbf-xl {
	font-size:240%;
}
.gfx {
	position:fixed;
}
@media all and (max-width: 767px) {
  	.center-xs {
		text-align:center;
	}
	.center-xs-fw {
		width:100%;
		text-align:center;
	}
}
@media all and (max-width: 360px) {
  	.visible-xxs {
		display:block;
	}
	.hidden-xxs {
		display:none;
	}
	.gds-xxs {
		padding-bottom:1em;
	}
	.gus-xxs {
		padding-top:1em;
	}
}
@media all and (min-width: 361px) {
  	.visible-xxs {
		display:none;
	}
}
.debug, .gdb {
	z-index:100;
	border:1px dashed red;
	background-color:lime;
}
.debug2, .gdb2 {
	z-index:100;
	border:1px dotted orange;
	background-color:yellow;
}
/* ##################################### Base tags ##################################### */
body  {
	background-color:#FFFFFF;
    margin: 0;
    padding: 0;
	font-family: Verdana, "Bitstream Vera Sans", "Lucida Grande", sans-serif;
	font-size: 13px; 
}
a, a:hover, a:visited {
	text-decoration:none;
}
img {
	vertical-align:middle;
}
div {
	box-sizing: border-box;
	vertical-align:top;
}
/* ##################################### Skeletong ##################################### */
#header {
	min-height:50px;
	background-color:darkslategray;
}
#topbar {
	position:relative;
	top:26px;
}
#topbar a, #topbar a:visited,#themes_menu a, #themes_menu a:visited  {
	color:white;
}
#content {
	min-height:40em;
}
#footer {
	min-height:50px;
	background-color:darkslategray;
}
#themes_menu {
	background-color:lightslategray;
}

