/* ##################################### Base tags ##################################### */
body  {
	background-color:#FFFFFF;
    margin: 0;
    padding: 0;
	font-family: Verdana, "Bitstream Vera Sans", "Lucida Grande", sans-serif;
	font-size: 13px; 
}
a, a:hover, a:visited {
	text-decoration:none;
}
img {
	vertical-align:middle;
}
div {
	box-sizing: border-box;
	vertical-align:top;
}
/* ##################################### Skeletong ##################################### */
#header {
	min-height:50px;
	background-color:darkslategray;
}
#topbar {
	position:relative;
	top:26px;
}
#topbar a, #topbar a:visited,#themes_menu a, #themes_menu a:visited  {
	color:white;
}
#content {
	min-height:40em;
	padding-bottom:4em;
}
#footer {
	min-height:50px;
	background-color:darkslategray;
}
#themes_menu {
	background-color:lightslategray;
}

