{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>{% block title %}Home{% endblock %}{% block title-page %}{% endblock title-page %}</title>
	<!-- zinnia -->
	{% block meta %}{% endblock meta %}
	{% block link %}{% endblock link %}
    {% block script %}{% endblock script %}
    <!-- site -->
    {% include "mogo/head.html" %}
    {% block extra_head %}{% endblock %}
</head>

<body class="zinnia {% block body-class %}{% endblock body-class %}">
	<div id="site_header">
		{% include "mogo/header_content.html" %}
	</div>
	<div class="container-fluid">
		<div class="row">
			<div clas="col-xs-12">
	  			<div id="navbar">
	  				{% include "mogo/navbar.html" %}
	  				{% block breadcrumbs %}{% endblock %}
	  			</div>
	  		</div>
		</div>
	</div>
	<div id="popup_menu" class="row" style="display:none">
		<div class="col-xs-12 text-center">
			{% include "mogo/popup_menu.html" %}
		</div>
	</div>
	<div id="precontent" class="{% block container_precontent_type %}gf text-center{% endblock %}">
		{% block precontent %}{% endblock %}
	</div>
	{% block messages %}
		{% include 'mogo/messages_display.html' %}
	{% endblock %}
	<div id="content" class="{% block container_type %}container{% endblock %}">
		{% block layout_top %}{% endblock %}
		{% block content %}{% endblock %}
		{% block layout_middle %}{% endblock %}
		{% block sidebar %}{% endblock %}
		{% block layout_bottom %}{% endblock %}
	</div>
	<div id="footer" class="container-fluid">
		{% include "mogo/footer.html" %}
	</div>
</body>
</html>