{% if messages %}
	<div class="row">
		<div class="col-xs-12">
			{% for message in messages %}
				{% if message %}
				    <div class="alert alert-{{ message.level_tag }} {{ message.level_tag }} text-center gbf" style="width:100%;margin:0 !important">
				    	<a href="#" class="close" data-dismiss="alert" aria-label="Fermer">&times;</a>
				    	{% if message.extra_tags %}<i class="fa fa-{{ message.extra_tags }}"></i>&nbsp;{% endif %}{{ message|safe }}
				    </div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
{% endif %}
