{% with request.path|slice:":6" as path %}
	{% if user.is_staff %}
		{% if path != '/admin' %} 
			<a href="/admin/" class="hidden-xxs" title="Admin">
				<i class="fa fa-gavel gbf-xl"></i>&nbsp;
			</a>
		{% endif %}
	{% endif %}
	{% if user.is_anonymous %}
		<a href="/account/login/" class="hidden-xxs">
			<i class="fa fa-user gbf-xl"></i>
		</a>
	{% else %}
		<a href="/account/logout/" class="hidden-xxs">
			<i class="fa fa-sign-out gbf-xl"></i>
		</a>
	{% endif %}
	{% if path != '/admin' %} 
		<a href="javascript:toggle_from_selector('#popup_menu')">
			<i class="fa fa-navicon gbf-xl"></i>&nbsp;
		</a>
	{% endif %}
{% endwith %}
