{% extends "admin/base.html" %}
{% load i18n staticfiles bootstrapped_goodies_tags %}

{% block title %}{{ title }} | Admin{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'icons/font-awesome/css/font-awesome.min.css' %}">

<link rel="stylesheet" href="{% static 'css/admin.css' %}">
{% endblock %}

{% block branding %}
<h3 id="site-name">
	{# <img src="{% static 'images/logo_admin.png' %}" alt="" style="max-height:35px;position:relative;top:-2px;" />&nbsp; #}
	<i class="fa fa-wrench" style="color:grey"></i>&nbsp;<span class="text-info">Admin</span> 
</h3>
{% endblock %}

{% block nav-global %}
	<span id="admin_topbar"> 
		<a href="/admin/alapage/page/"><i class="fa fa-file-code-o fa-2x"></i></a>
		<a href="/admin/jssor/"><i class="fa fa-caret-square-o-right fa-2x"></i></a>
		<a href="/admin/zongo/"><i class="fa fa-photo fa-2x"></i></a>
		<a href="/" target="_blank"><i class="fa fa-home fa-2x"></i></a>
	</span>
{% endblock %}