{% extends "admin/base.html" %}
{% load i18n staticfiles bootstrapped_goodies_tags %}

{% block title %}{{ title }} | Admin{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'icons/font-awesome/css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'css/admin.css' %}">
{% endblock %}

{% block branding %}
<h3 id="site-name" style="display:inline">
	{# <img src="{% static 'images/logo_admin.png' %}" alt="" style="max-height:35px;position:relative;top:-2px;" />&nbsp; #}
	<i class="fa fa-wrench" style="color:grey"></i>&nbsp;<span class="text-info">Admin</span> 
</h3>
{% endblock %}

{% block nav-global %}
	<span id="admin_topbar"> 
		{% if perms.alapage.can_change_page %}
			<a href="/admin/alapage/page/"><i class="fa fa-file-code-o fa-2x"></i></a>
		{% endif %}
		{% if perms.filebrowser.can_change_filebrowser %}
			<a href="/admin/filebrowser/browse/"><i class="fa fa-folder-open-o fa-2x"></i></a>
		{% endif %}
		{% if perms.mqueue.can_change_mevent %}
			<a href="/admin/mqueue/mevent/"><i class="fa fa-database fa-2x"></i></a>
		{% endif %}
		<a href="/" target="_blank"><i class="fa fa-home fa-2x"></i></a>
	</span>
{% endblock %}