pytz
python-memcached
django<2
django-debug-toolbar
django-extensions
Werkzeug
django-mptt
django-allauth
django-mbase
easy_thumbnails
django-filebrowser-no-grappelli
django-alapage
django-qcf
django-mqueue
django-dirtyedit
django-bulma