{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	{% include "head.html" %}
	{% block extra_header %}{% endblock %}
</head>

<body>
	<div id="header" class="container-fluid">
		{% include "header_content.html" %}
		{% if use_themes %}
			{% include "themes_menu.html" %}
		{% endif %}
		<div class="row">
			<div clas="col-xs-12">
	  			<div id="navbar">{% include "navbar.html" %}</div>
	  		</div>
		</div>
	</div>
	<div id="precontent" class="{% block container_precontent_type %}container{% endblock %}">
		{% block precontent %}{% endblock %}
	</div>
	<div id="content" class="{% block container_type %}container{% endblock %}">
		{% block layout_top %}{% endblock %}
		{% block content %}{% endblock %}
		{% block layout_bottom %}{% endblock %}
	</div>
	<div id="footer" class="container-fluid">
		{% include "footer.html" %}
	</div>
</body>
</html>