{% if messages %}
	{% for message in messages %}
		{% if message %}
		    <div class="alert alert-{{ message.level_tag }} {{ message.level_tag }} text-center gbf" style="width:100%;margin:0 !important">
		    	<a href="#" class="close" data-dismiss="alert" aria-label="Fermer">&times;</a>
		    	{% if message.extra_tags %}<i class="fa fa-{{ message.extra_tags }}"></i>&nbsp;{% endif %}{{ message|safe }}
		    </div>
		{% endif %}
	{% endfor %}
{% endif %}
<script type="text/javascript">
	window.setTimeout(function() { $(".alert-success").fadeOut('slow'); }, 2500);
	window.setTimeout(function() { $(".alert-info").fadeOut('slow'); }, 4000);
</script>